<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boris.expert.csvmagic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRGenerator"
        tools:replace="android:allowBackup">
        <activity
            android:launchMode="singleInstance"
            android:name=".view.activities.SalesCustomersActivity"/>
        <activity android:name=".view.activities.SupportChatActivity" />
        <activity android:name=".view.activities.SupportTicketsActivity" />
        <activity
            android:name=".view.activities.VideoFullScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activities.HelpActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />
        <activity android:name=".view.activities.BarcodeImageListActivity" />
        <activity
            android:name=".view.activities.ScanDataActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".view.activities.UserScreenActivity" />
        <activity android:name=".view.activities.PurchaseFeatureActivity" />
        <activity android:name=".view.activities.OcrActivity" />
        <activity android:name=".view.activities.CreditActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".view.activities.PostSheetDataActivity" />
        <activity android:name=".view.activities.SocialNetworksQrActivity" />
        <activity android:name=".view.activities.FieldListValuesActivity" />
        <activity android:name=".view.activities.SheetsActivity" />
        <activity android:name=".view.activities.FieldListsActivity" />
        <activity android:name=".view.activities.TableViewActivity" />
        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".view.activities.TablesDataActivity" />
        <activity android:name=".view.activities.CreateTableActivity" />
        <activity android:name=".view.activities.TablesActivity" />
        <activity android:name=".view.activities.ProfileActivity" />
        <activity
            android:name=".view.activities.CodeDetailActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".view.activities.FeedbackQrActivity" />
        <activity android:name=".view.activities.ShareActivity" />
        <activity android:name=".view.activities.DesignActivity" />
        <activity
            android:name=".view.activities.CouponQrActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boris.expert.csvmagic.view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.DynamicQrActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boris.expert.csvmagic.view.activities.MainActivity" />
        </activity>
        <activity android:name=".view.activities.BarcodeHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boris.expert.csvmagic.view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,barcode" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>